<div class="nav" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed' : 'nofixed'">
    <div class="nav-section" id="plats">
        <button class="btn-nav red" href="#">Plats de la semaine</button>
    </div>
    <div class="nav-section" id="carte">
        <button class="btn-nav red" href="">Carte</button>
    </div>
    <div class="nav-section-opt">
        <button class="btn-nav gray" href="">Se connecter</button>
    </div>
    <div class="nav-section-opt">
        <button class="btn-nav gray" href="">
            <img src="../../assets/panier-logo.png" alt="Panier" style="width:40px; height:40px;">
        </button>
    </div>
</div>
