<div class="row mt-4">
    <div class="col-2 offset-3">
        <label><b>Boissons chaudes</b></label>
    </div>
    <div class="col-2 offset-2">
        <label><b>Boissons froides</b></label>
    </div>
</div>
<div class="row mt-4">
    <div class="col-2 offset-3">
        <label><b>Viennoiseries</b></label>
    </div>
    <div class="col-2 offset-2">
        <label><b>Deserts</b></label>
    </div>
</div>
<div class="row mt-4">
    <div class="col-2 offset-3">
        <label><b>Sandwiches</b></label>
    </div>
    <div class="col-2 offset-2">
        <label><b>Petites faims</b></label>
    </div>
</div>
<div class="row mt-4">
    <div class="col-2 offset-3">
        <label><b>Formule midi</b></label>
    </div>
</div>
