.container{
  margin-left: 10%;
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.days-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

app-calendar-dishes{
  margin: 5px;
}

@media screen and (max-width: 900px) {

}
