<div class="nav">
  <div class="bar">

    <div class="logo">
      <mat-icon class="item-logo">dining</mat-icon>
      <h2>cantinière</h2>
    </div>

    <ul>
      <li>
        <mat-icon [routerLink]="['/']"  class="item-nav">lunch_dining</mat-icon>
        <a class="nav-link" [routerLink]="['/']">Plats de la semaine</a>
      </li>
      <li>
        <mat-icon [routerLink]="['/carte']" class="item-nav">list_alt</mat-icon>
        <a class="nav-link" [routerLink]="['/carte']">Carte</a>
      </li>
    </ul>

  </div>
</div>
