<div class="container">
  <form [formGroup]="forgotpasswordform" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div>
      <h1>Mot de passe oublié</h1>
    </div>
    <div>
      <input type="text" formControlName="email" placeholder="E-mail" />
      <div class="errors" *ngIf="forgotpasswordform.controls.email?.hasError('required') && forgotpasswordform.controls.email?.dirty">
        email requis !
      </div>
    </div>
    <div>
      <input type="submit" value="Envoyer" />
    </div>
    <div>
      <button (click)="skip()" class="skip">Annuler</button>
    </div>
  </form>
</div>

