.title {
  background: #9e3b3b;
  color: #fff;
  width: 400px;
  height: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.content {
  background: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding-left: 10px;
}

.container {
  margin-left: 35px;
}
