<div class="container">
  <div class="group-calendar">
    <app-admin-calendar-dishes days="Lundi" [meal]="getMeals()"></app-admin-calendar-dishes>
    <app-admin-calendar-dishes days="Mardi" [meal]="getMeals()"></app-admin-calendar-dishes>
    <app-admin-calendar-dishes days="Mercredi" [meal]="getMeals()"></app-admin-calendar-dishes>
    <app-admin-calendar-dishes days="Jeudi" [meal]="getMeals()"></app-admin-calendar-dishes>
    <app-admin-calendar-dishes days="Vendredi" [meal]="getMeals()"></app-admin-calendar-dishes>
  </div>
</div>
