<div class="container">
  <div class="group-calendar">
    <app-admin-calendar-dishes days="Lundi" [MealsWeeks]="getMeals()"></app-admin-calendar-dishes>
    <app-admin-calendar-dishes days="Mardi" [MealsWeeks]="getMeals()"></app-admin-calendar-dishes>
    <app-admin-calendar-dishes days="Mercredi" [MealsWeeks]="getMeals()"></app-admin-calendar-dishes>
    <app-admin-calendar-dishes days="Jeudi" [MealsWeeks]="getMeals()"></app-admin-calendar-dishes>
    <app-admin-calendar-dishes days="Vendredi" [MealsWeeks]="getMeals()"></app-admin-calendar-dishes>
  </div>
</div>
