.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  height: 75vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #f1f1f1;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #ba2929;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #ba2929;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: white;
  color: #ba2929;
  border: 1px solid #ba2929;
}

.login {
  background-color: #c5c0c0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #c5c0c0;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

.login:hover {
  background-color: white;
  color: #c5c0c0;
  border: 1px solid #c5c0c0;
}

.mat-radio-button ~ .mat-radio-button {
  margin: 10px 0 10px 16px;
}

:host ::ng-deep .mat-radio-outer-circle {
  border-color: #ccc;
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
.mat-radio-ripple
.mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #ba2929;
}

:host
::ng-deep
.mat-radio-button.mat-accent.mat-radio-checked
.mat-radio-outer-circle {
  border-color: #ba2929;
}

:host
::ng-deep
.mat-radio-button.mat-accent
.mat-radio-ripple
.mat-ripple-element {
  background-color: white;
}
