<div class="categories-list">
  <app-card-categories [cat]="1" [name]="getCategoryName('cat1')" [obj]="getMealListForCategory(1)" ></app-card-categories>
  <app-card-categories [cat]="2" [name]="getCategoryName('cat2')" [obj]="getMealListForCategory(2)" ></app-card-categories>
  <app-card-categories [cat]="7" [name]="getCategoryName('cat7')" [obj]="getMealListForCategory(7)" ></app-card-categories>
  <app-card-categories [cat]="3" [name]="getCategoryName('cat3')" [obj]="getMealListForCategory(3)" ></app-card-categories>
  <app-card-categories [cat]="5" [name]="getCategoryName('cat5')" [obj]="getMealListForCategory(5)" ></app-card-categories>
  <app-card-categories [cat]="9" [name]="getCategoryName('cat9')" [obj]="getMealListForCategory(9)" ></app-card-categories>
</div>


