<div class="categories-list">
  <app-card-categories [name]="getCategoryName('cat1')" [obj]="getMealListForCategory(1)" ></app-card-categories>
  <app-card-categories [name]="getCategoryName('cat2')" [obj]="getMealListForCategory(2)" ></app-card-categories>
  <app-card-categories [name]="getCategoryName('cat7')" [obj]="getMealListForCategory(7)" ></app-card-categories>
  <app-card-categories [name]="getCategoryName('cat3')" [obj]="getMealListForCategory(3)" ></app-card-categories>
  <app-card-categories [name]="getCategoryName('cat5')" [obj]="getMealListForCategory(5)" ></app-card-categories>
  <app-card-categories [name]="getCategoryName('cat9')" [obj]="getMealListForCategory(9)" ></app-card-categories>
</div>


