<div class="row">
    <button class="btn btn-danger col-8 offset-2 mt-4">Lundi</button>
    <br>
    <div class=" col-2 offset-3 mt-4">
        <p class="text-center"><b>Plat 1</b></p>
        <div class="row text-center mt-5">
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Seul</label>
            </div>
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Formule</label>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 ">
                <input type="number" min="0" style="width: 7vh;">
            </div>
        </div>
    </div>

    <div class="col-1 mt-4 bar-vertiligner">
    </div>
    <div class="col-1 mt-4 bar-vertilignel">
    </div>
    <div class="col-2 mt-4">
        <p class="text-center"><b>Plat 2</b></p>
        <div class="row text-center mt-5">
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Seul</label>
            </div>
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Formule</label>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 ">
                <input type="number" min="0" style="width: 7vh;">
            </div>
        </div>
    </div>
    <button class="btn btn-danger col-8 offset-2 mt-4">Mardi</button>
    <br>
    <div class=" col-2 offset-3 mt-4">
        <p class="text-center"><b>Plat 1</b></p>
        <div class="row text-center mt-5">
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Seul</label>
            </div>
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Formule</label>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 ">
                <input type="number" min="0" style="width: 7vh;">
            </div>
        </div>
    </div>

    <div class="col-1 mt-4 bar-vertiligner">
    </div>
    <div class="col-1 mt-4 bar-vertilignel">
    </div>
    <div class="col-2 mt-4">
        <p class="text-center"><b>Plat 2</b></p>
        <div class="row text-center mt-5">
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Seul</label>
            </div>
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Formule</label>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 ">
                <input type="number" min="0" style="width: 7vh;">
            </div>
        </div>
    </div>
    <button class="btn btn-danger col-8 offset-2 mt-4">Mercredi</button>
    <br>
    <div class=" col-2 offset-3 mt-4">
        <p class="text-center"><b>Plat 1</b></p>
        <div class="row text-center mt-5">
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Seul</label>
            </div>
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Formule</label>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 ">
                <input type="number" min="0" style="width: 7vh;">
            </div>
        </div>
    </div>

    <div class="col-1 mt-4 bar-vertiligner">
    </div>
    <div class="col-1 mt-4 bar-vertilignel">
    </div>
    <div class="col-2 mt-4">
        <p class="text-center"><b>Plat 2</b></p>
        <div class="row text-center mt-5">
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Seul</label>
            </div>
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Formule</label>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 ">
                <input type="number" min="0" style="width: 7vh;">
            </div>
        </div>
    </div>
    <button class="btn btn-danger col-8 offset-2 mt-4">Jeudi</button>
    <br>
    <div class=" col-2 offset-3 mt-4">
        <p class="text-center"><b>Plat 1</b></p>
        <div class="row text-center mt-5">
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Seul</label>
            </div>
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Formule</label>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 ">
                <input type="number" min="0" style="width: 7vh;">
            </div>
        </div>
    </div>

    <div class="col-1 mt-4 bar-vertiligner">
    </div>
    <div class="col-1 mt-4 bar-vertilignel">
    </div>
    <div class="col-2 mt-4">
        <p class="text-center"><b>Plat 2</b></p>
        <div class="row text-center mt-5">
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Seul</label>
            </div>
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Formule</label>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 ">
                <input type="number" min="0" style="width: 7vh;">
            </div>
        </div>
    </div>
    <button class="btn btn-danger col-8 offset-2 mt-4">Vendredi</button>
    <br>
    <div class=" col-2 offset-3 mt-4">
        <p class="text-center"><b>Plat 1</b></p>
        <div class="row text-center mt-5">
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Seul</label>
            </div>
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Formule</label>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 ">
                <input type="number" min="0" style="width: 7vh;">
            </div>
        </div>
    </div>

    <div class="col-1 mt-4 bar-vertiligner">
    </div>
    <div class="col-1 mt-4 bar-vertilignel">
    </div>
    <div class="col-2 mt-4">
        <p class="text-center"><b>Plat 2</b></p>
        <div class="row text-center mt-5">
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Seul</label>
            </div>
            <div class="col-6">
                <input type="checkbox" value="" id="flexCheckDefault">
                <label for="flexCheckDefault">Formule</label>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 ">
                <input type="number" min="0" style="width: 7vh;">
            </div>
        </div>
    </div>
</div>
<div class="row mt-5" style="background-color: rgb(255, 255, 255);">
    <div class="col-2 offset-5">
        <input type="submit" class="btn btn-danger"  style="background-color:gray; border-color: transparent;" value="Valider"/>
    </div>
</div>