<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="./assets/img/icon.png" id="icon" alt="User Icon" />


    </div>

    <!-- Login Form -->
    <form>
      <p class="mt-3">Veuillez saisir votre adresse email :</p>
      <input type="email" required id="login" class="fadeIn second" name="login" placeholder="Adresse mail">
      <input type="submit" class="fadeIn fourth" value="Re générer un mot de passe"><br>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/inscription']">Pas de compte ? Inscrivez-vous</a>
    </div>

  </div>
</div>

